<a href="https://colab.research.google.com/github/maha2806/Python_ai_ml_2025/blob/main/Week_33_sita.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment — Conditional Statements (No Loops)
             
1. **Simple `if`**:  
   Store your age in a variable. If it’s 18 or above, print "Adult".

2. **`if...else`**:  
   Store your bank balance in a variable. If it’s greater than 1000, print "Sufficient funds", else print "Low balance".

3. **`if...elif...else`**:  
   Store a number in a variable.  
   - If it’s positive, print "Positive".  
   - If it’s zero, print "Zero".  
   - Else, print "Negative".

4. **Nested `if`**:  
   Store your age and a boolean `has_license`. If age is 18 or above and `has_license` is True, print "Can drive".

5. **Ternary Operator**:  
   Store your score in a variable. Print `"Pass"` if it’s 50 or above, otherwise print `"Fail"`.

6. **`and` / `or`**:  
   Store two boolean variables `is_weekend` and `is_holiday`. If it’s weekend or holiday, print `"Day off"`.

7. **`in` / `not in`**:  
   Create a list of three colors. If `"red"` is in the list, print `"Red available"`. If `"green"` is not in the list, print `"Green not available"`.

In [1]:
# 1. Simple `if`
# Store age and check if adult
age = 20  # Change this value to test different cases
if age >= 18:
    print("Adult")  # This will print if age is 18 or more

Adult

In [2]:
# 2. `if...else`
# Check bank balance status
bank_balance = 750  # Change this value to test different cases
if bank_balance > 1000:
    print("Sufficient funds")  # Prints if balance > 1000
else:
    print("Low balance")  # Prints otherwise

Low balance

In [3]:
# 3. `if...elif...else`
# Check if number is positive, zero or negative
number = -5  # Change this value to test different cases
if number > 0:
    print("Positive")  # Prints if number > 0
elif number == 0:
    print("Zero")  # Prints if number == 0
else:
    print("Negative")  # Prints if number < 0

Negative

In [4]:
# 4. Nested `if`
# Check driving eligibility
age = 19  # Change this value to test different cases
has_license = True  # Change this to ,False to test
if age >= 18:
    if has_license:  # This only checks if age >= 18

        print("Can drive")  # Prints only if both conditions are True

Can drive

In [5]:
# 5. Ternary Operator
# Check pass/fail status
score = 65  # Change this value to test different cases
result = "Pass" if score >= 50 else "Fail"  # Ternary operation
print(result)  # Prints "Pass" if score >=50, else "Fail"

Pass

In [6]:
# 6. `and` / `or`
# Check if it's a day off
is_weekend = True  # Change this to , False to test
is_holiday = False  # Change this to True to test
if is_weekend or is_holiday:  # Using 'or' operator
    print("Day off")  # Prints if either condition is True

Day off

In [7]:
# 7. `in` / `not in`
# Check color availability
colors = ["red", "blue", "yellow"]  # Modify list to test different cases
if "red" in colors:
    print("Red available")  # Prints if "red" is in the list
if "green" not in colors:
    print("Green not available")  # Prints if "green" is not in the list

Red available
Green not available

# Assignment — Loops + Conditional Statements



1. Print all numbers from 1 to 20, but print "Even" if the number is even and "Odd" if the number is odd.
2. Loop through a list of names and print only those that start with the letter "A".
3. For numbers from 1 to 50, print "Fizz" if divisible by 3, "Buzz" if divisible by 5, and "FizzBuzz" if divisible by both.
4. Given a dictionary of students and marks, print only the names of students who scored more than 75.
5. Print all prime numbers between 1 and 30.
6. Given a list of words, print those with length greater than 5 characters.
7. Using nested loops, print a multiplication table from 1 to 5, but skip printing results that are greater than 15.

In [9]:
#1. Print numbers 1-20, labeling even/odd
print("\n1. Even/Odd numbers from 1 to 20:")
for num in range(1, 21):
    if num % 2 == 0:
        print(f"{num}: Even")
    else:
        print(f"{num}: Odd")

1. Even/Odd numbers from 1 to 20:
1: Odd
2: Even
3: Odd
4: Even
5: Odd
6: Even
7: Odd
8: Even
9: Odd
10: Even
11: Odd
12: Even
13: Odd
14: Even
15: Odd
16: Even
17: Odd
18: Even
19: Odd
20: Even

In [10]:
#2. Print names starting with "A"
names = ["Alice", "Bob", "Anna", "Charlie", "Alex", "David"]
print("\n2. Names starting with 'A':")
for name in names:
    if name.startswith('A'):
        print(name)

2. Names starting with 'A':
Alice
Anna
Alex

In [11]:
# 3. FizzBuzz for numbers 1-50
print("\n3. FizzBuzz for numbers 1-50:")
for num in range(1, 51):
    if num % 15 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

3. FizzBuzz for numbers 1-50:
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [12]:
# 4. Print students with marks > 75
students = {"John": 82, "Emma": 75, "Michael": 90, "Sophia": 68}
print("\n4. Students with marks > 75:")
for name, mark in students.items():
    if mark > 75:
        print(name)

4. Students with marks > 75:
John
Michael

In [13]:
# 5. Print prime numbers between 1-30
print("\n5. Prime numbers between 1-30:")
for num in range(2, 31):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

5. Prime numbers between 1-30:
2
3
5
7
11
13
17
19
23
29

In [14]:
# 6. Print words with length > 5
words = ["apple", "banana", "cherry", "date", "elderberry", "fig"]
print("\n6. Words with length > 5:")
for word in words:
    if len(word) > 5:
        print(word)

6. Words with length > 5:
banana
cherry
elderberry

In [15]:
# 7. Multiplication table (1-5) skipping results > 15
print("\n7. Multiplication table (1-5), skipping results > 15:")
for i in range(1, 6):
    for j in range(1, 6):
        product = i * j
        if product <= 15:
            print(f"{i} x {j} = {product}")
        else:
            continue  # This line is optional as the loop would continue anyway

7. Multiplication table (1-5), skipping results > 15:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15

# Assignment — Python Dictionaries
1. Create a dictionary called student with the following key-value pairs:

"name" → "Alice"
"age" → 22
"courses" → ["Math", "Physics", "Chemistry"]
2. Add a new key "email" with value "alice@example.com".

3. Update the "age" to 23.

4. Remove the "email" key using pop() and store the removed value in a variable.

5. Access the "name" value using [].

6. Access the "phone" value using .get() with a default message "Not available".

7. Create a dictionary comprehension that maps numbers from 1 to 5 to their squares.

8. Nested Dictionary Task:
Create a dictionary called company where each key is an employee ID (e.g., "emp1", "emp2") and the value is another dictionary with keys "name" and "role".
Add at least two employees.

9. Convert the dictionary’s .items() view into a list of tuples.

10. Convert the list of tuples back into a dictionary.

In [17]:
# 1. Create student dictionary
student = {
    "name": "Alice",
    "age": 22,
    "courses": ["Math", "Physics", "Chemistry"]
}

In [18]:
# 2. Add new key "email"
student["email"] = "alice@example.com"
print("After adding email:", student)

After adding email: {'name': 'Alice', 'age': 22, 'courses': ['Math', 'Physics', 'Chemistry'], 'email': 'alice@example.com'}

In [19]:
# 3. Update age to 23
student["age"] = 23
print("After updating age:", student)

After updating age: {'name': 'Alice', 'age': 23, 'courses': ['Math', 'Physics', 'Chemistry'], 'email': 'alice@example.com'}

In [20]:
# 4. Remove email using pop() and store value
removed_email = student.pop("email")
print("Removed email:", removed_email)
print("After removing email:", student)

Removed email: alice@example.com
After removing email: {'name': 'Alice', 'age': 23, 'courses': ['Math', 'Physics', 'Chemistry']}

In [21]:
# 5. Access name using [] notation
name = student["name"]
print("Name accessed with []:", name)

Name accessed with []: Alice

In [22]:
# 6. Access phone with .get() and default
phone = student.get("phone", "Not available")
print("Phone number:", phone)

Phone number: Not available

In [23]:
# 7. Dictionary comprehension for squares
squares = {num: num**2 for num in range(1, 6)}
print("Number squares:", squares)

Number squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [24]:
# 8. Nested dictionary for company
company = {
    "emp1": {
        "name": "John Doe",
        "role": "Developer"
    },
    "emp2": {
        "name": "Jane Smith",
        "role": "Manager"
    }
}
print("Company employees:", company)

Company employees: {'emp1': {'name': 'John Doe', 'role': 'Developer'}, 'emp2': {'name': 'Jane Smith', 'role': 'Manager'}}

In [27]:
# 9. Convert dictionary items to list of tuples
items_list = list(student.items())
print("Items as list of tuples:", items_list)

Items as list of tuples: [('name', 'Alice'), ('age', 23), ('courses', ['Math', 'Physics', 'Chemistry'])]

In [28]:
# 10. Convert back to dictionary
new_dict = dict(items_list)
print("Converted back to dictionary:", new_dict)

Converted back to dictionary: {'name': 'Alice', 'age': 23, 'courses': ['Math', 'Physics', 'Chemistry']}